@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Css Variables */
:root {
    /* Colors */
        /* Primary */
        --Soft-blue: #92a9c9;
        --Cyan: hsl(178, 100%, 50%);
        /* Neutral */
        --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
        --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
        --Very-dark-blue-line: hsl(215, 32%, 27%);
        --White: hsl(0, 0%, 100%);

    /* Fonts */
        /* Family */
        --Outfit: 'Outfit', sans-serif;
        /* Weights */
        --light: 300;
        --regular: 400;
        --SemiBold: 600;
}




/* Css Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--Outfit);
}

body {
    align-items: center;
    background-color: var(--Very-dark-blue-main-BG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}


/* Block */
.card {
    background-color: var(--Very-dark-blue-card-BG);
    color: var(--White);
    display: flex;
    flex-direction: column;
    max-height: 545px;
    max-width: 330px;
    padding: 2.4rem;
    width: 100%;
    border-radius: 10px;
    margin: 5rem 0;
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 350px;
        max-height: 595px;
    }
}




/* Images */
.card > picture {
    position: relative;
}

.card__main-image {
    border-radius: 10px;
    margin-bottom: 2.8rem;
    max-width: 300px;
    width: 100%;
}

.card__overlay {
    background-color: rgba(0, 255, 255, 0.404);
    border-radius: 10px;
    height: 28.2rem;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__overlay:hover {
    opacity: 1;
}

.card__view-eye {
    width: 4.5rem;
}

@media screen and (min-width:1024px) {
    .card__overlay {
        height: 30rem;
    }
}




/* Card Heading */
.card__heading {
    color: var(--White);
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.card__heading:hover {
    color: var(--Cyan);
}

.card__description {
    font-size: 1.5rem;
    color: var(--Soft-blue);
    line-height: 1.5;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .card__heading {
        margin-bottom: 2.2rem;
    }

    .card__description {
        font-size: 1.8rem;
    }
}





/* Card Auction Info */
.card__info {
    border-bottom: 1px solid var(--Very-dark-blue-line);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    width: 100%;
}
.card__price {
    width: 100%;
    display: flex;
}

.card__eth-img {
    height: 18px;
}

.card__eth {
    color: var(--Cyan);
    font-size: 1.4rem;
    font-weight: var(--SemiBold);
    margin-left: 0.8rem;
    position: relative;
    top: 2px;
    letter-spacing: 1px;
}


.card__time {
    width: 100%;
    text-align: right;
}

.card__time-left {
    bottom: 0.3rem;
    color: var(--Soft-blue);
    font-size: 1.4rem;
    margin-left: 0.2rem;
    position: relative;
}

.card__clock-img {
    min-height: 1.4rem;
}

@media screen and (min-width:1024px) {
    .card__info {
        padding-bottom: 2.4rem;
    }
}




/* Card Creator Section */
.card__creator {
    display: flex;
    margin-top: 1.6rem;
}

.card__artist {
    max-height: 3rem;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.card__attribute {
    color: var(--Soft-blue);
    font-size: 1.5rem;
    margin-left: 1.5rem;
    position: relative;
    top: 0.6rem;
}

.card__attribute > span {
    color: var(--White);
    cursor: pointer;
}

.card__attribute > span:hover {
    color: var(--Cyan);
}

@media screen and (min-width: 1024px) {
    .card__creator {
        margin-bottom: 0.6rem;
    }
}


/* Attribution */
.attribution {
    bottom: 0;
    color: var(--White);
    font-size: 1.2rem;
    font-size: 11px;
    position: absolute;
    text-align: center;
}
.attribution a {
    color: var(--Cyan);
}